main {
  margin: 100px 0px;
}

/* feature section  */
.feature {
  width: 80%;
  margin: 0 auto;
}
.feature_about {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.feature_about .title {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 14px;
}
.feature_about .desc {
}

.feature_circle_card {
  gap: 8px;
}
.feature_circle_card .card {
  text-align: center;
}

.feature_circle_card img {
  border-radius: 50%;
  width: 60%;
  border: 1px dotted white;
  outline: 4px solid #272424;
}

.feature_circle_card .title {
  color: white;
  margin-bottom: 6px;
  margin-top: 24px;
}

/* run section  */

.run_section {
  width: 70%;
  background-color: rgb(34, 34, 34);
  margin: 92px auto;
  padding: 35px;
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.run_section_about {
  width: 60%;
  padding: 2% 6%;
}
.run_section_about .desc {
  margin-bottom: 20px;
}
.run_image_section {
  width: 40%;
}

.run_image_section .bg_img {
  background-image: url(../images/run.jpg);
  background-position: 69% 30%;
  background-size: 279%;
  width: 100%;

  height: 287px;
  border-radius: 25px;
}

@media screen and (max-width: 575px) {
  main {
    margin: unset;
  }
  .feature {
    width: 90%;
  }
  .feature_about {
    width: 75%;
  }
  .feature_circle_card {
    flex-direction: column;
    gap: 36px;
  }

  /* run section  */
  .run_section {
    width: 90%;
    flex-direction: column;
  }
  .run_section_about {
    width: 100%;
  }
  .run_section_about button {
    padding: 20px 100px;
  }
  .run_image_section {
    width: 100%;
  }
  .run_image_section .bg_img {
    background-position: 78% 15%;
    background-size: 180%;
  }
}
